/* Stylez */

* {

    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    text-align: center;
}

body{
    background-color: black;
    opacity: 0.9
}

/* Fixed Header Section */
.header-container{
    position:fixed;
    margin-top: -30px;
    background-color: black;
}

.header{
    height: 69px;
    margin: 0 10px;
    width: 1260px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: flex-start;
}

#logo {
    height: 50px;
    width: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.9;
}

.links p {
    display: inline-flex;
    justify-content: flex-end;
    padding: 0 10px;
    text-decoration: underline; 
    flex-shrink: 1;
    cursor: pointer;
    opacity: 0.9;
    flex-flow: wrap;
}

.links p:hover {
    opacity: 0.60;
}


/* hero section */
.hero {
    width: 1200px;
    margin: 30px;
}

img {
    width: 300px;
    height: 200px;;
}
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* text-decoration: underline; */
    
