

body{
    margin: 25px;
    text-align: center;
}
.container{
    border: 1px solid rgb(53, 53, 53);
    margin: 10px auto;
    padding: 10px;
}

.color-container div{  
    display: inline-block;
    border: 1px solid black;
    min-height: 65px;
    width: 30%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.font-panel-container{
    text-align: left;
}

/* color boxes */
.crimson{
    background-color: #700c0c;
    color: rgb(238, 238, 238);
}
.slate{
    background-color: #2b2828;
    color: rgb(238, 238, 238);
}
.navy{
    background-color: #1e208a;
    color: rgb(238, 238, 238);
}
.goldenrod{
    background-color: #c4b618;
}

.font-container{
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}

/* roboto section */
.font-heading-roboto{
    text-decoration: underline;
    font-family: "Roboto";
    font-weight: 400;
}
.roboto-reg{
    font-family: "Roboto";
    font-weight: 400;
}
.roboto-bold{
    font-family: "Roboto";
    font-weight: 700;
    font-style: bold;
}
.roboto-italic{
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
}

/* barlow section */
.font-heading-barlow{
    text-decoration: underline;
    font-family: "Barlow Condensed";
}
.barlow-reg{
    font-family: "Barlow Condensed";
    font-weight: 400;
}
.barlow-bold{
    font-family: "Barlow Condensed";
    font-weight: 700;
    font-style: bold;
}
.barlow-italic{
    font-family: "Barlow Condensed";
    font-weight: 900;
    font-style: italic;
}

/* poppins sections */
.font-heading-poppins{
    text-decoration: underline;
    font-family: "Poppins";
}
.poppins-reg{
    font-family: "Poppins";
    font-weight: 400;
}
.poppins-bold{
    font-family: "Poppins";
    font-weight: 700;
    font-style: bold;
}
.poppins-italic{
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
}

/* honk section */
.font-heading-honk{
    font-family: "Honk";
    text-decoration: underline;
}
.honk-reg{
    font-family: "Honk";
    font-weight: 400;
}



button {
    font-family: "Roboto";
    background-color: #31926f7a;
    font-weight: 700;
    width: 30%;
    padding: 5px;
    border: 2px solid #1e208a;
    border-radius: 10px;
    box-shadow: bottom;
    color: #020814;
    font-size: 25px;
    cursor: pointer;

}

button:hover{
    background-color: #0c5f7097;
    color: white;
}